:root{
  --main-color: #00d4ff;
  --secondary-color: #ffcd00;
  --distance: 6rem;
  --opacity: .7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, var(--main-color), var(--secondary-color));
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, var(--distance));
  grid-template-rows: minmax(7rem, auto) repeat(5, var(--distance));
}

.calculator button{
  cursor: pointer;
  font-size: 1.75rem;
  border: 1px solid gray;
  outline: none;
  background-color: rgba(255, 255, 255, var(--opacity));
}

.calculator button:focus,
.calculator button:hover{
  background-color: rgba(255, 255, 255, calc(var(--opacity) + .2));
}

.two-col {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  
  background-color: rgba(0, 0, 0, var(--opacity));
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-operand {
  color: rgba(255, 255, 255, var(--opacity));
  font-size: 1.5rem;
}
.output .current-operand {
  color: #fff;
  font-size: 2.5rem;
}